
@model Toko_Sumi.VIEWMODELS.VMVariant
@{
    Layout = null;
}
<h1>Detail Variant</h1>

<p>Id Variant = @Model.IdVariant</p>
<p>Nama Kategori = @Model.NameCategory</p>
<p>Nama Variant = @Model.NameVariant</p>
<p>Deskripsi = @Model.Description</p>
<p>Create By = @Model.CreateBy</p>
<p>Create Date = @Model.CreateDate</p>
<br />
<a class="btn btn-outline-primary" asp-action="Index" asp-controller="Variant">Back to list</a> 